In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("nb2.ipynb")

# nb02:  Basics with Pandas and And In-Depth with NumPy
***

In this notebook we'll explore both Pandas and NumPy.  We'll start with some basic dataframe manipulation using Pandas.  Since Pandas is built on the backbone of NumPy we'll then dive into more NumPy functionality.

---
### Pandas module:

[Pandas](https://pandas.pydata.org/) is one of the most widely used Python libraries in data science. In this lab, you will review commonly used data wrangling operations/tools in Pandas. We aim to give you familiarity with:

* Creating DataFrames
* Slicing DataFrames (i.e. selecting rows and columns)
* Filtering data (using boolean arrays and groupby.filter)
* Aggregating (using groupby.agg)

In this nb you are going to use several pandas methods. Reminder from lecture that you may press `shift+tab` on method parameters to see the documentation for that method. For example, if you were using the `drop` method in pandas, you could press shift+tab to see what `drop` is expecting.

**Note**: The Pandas interface is notoriously confusing for beginners, and the documentation is not consistently great. Throughout the semester, you will have to search through Pandas documentation and experiment, but remember it is part of the learning experience and will help shape you as a data scientist!

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import plotly.express as px
%matplotlib inline

## Creating DataFrames & Basic Manipulations

Recall that a [DataFrame](https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html#dataframe) is a table in which each column has a specific data type; there is an index over the columns (typically string labels) and an index over the rows (typically ordinal numbers).

Usually you'll create DataFrames by using a function like `pd.read_csv`. However, in this section, we'll discuss how to create them from scratch.

The [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) for the pandas `DataFrame` class provides several constructors for the DataFrame class.

**Syntax 1:** You can create a DataFrame by specifying the columns and values using a dictionary as shown below. 

The keys of the dictionary are the column names, and the values of the dictionary are lists containing the row entries.

In [3]:
fruit_info = pd.DataFrame(
    data = {'fruit': ['apple', 'orange', 'banana', 'raspberry'],
          'color': ['red', 'orange', 'yellow', 'pink'],
          'price': [1.0, 0.75, 0.35, 0.05]
          })
fruit_info

       fruit   color  price
0      apple     red   1.00
1     orange  orange   0.75
2     banana  yellow   0.35
3  raspberry    pink   0.05

**Syntax 2:** You can also define a DataFrame by specifying the rows as shown below. 

Each row corresponds to a distinct tuple, and the columns are specified separately.

In [4]:
fruit_info2 = pd.DataFrame(
    [("red", "apple", 1.0), ("orange", "orange", 0.75), ("yellow", "banana", 0.35),
     ("pink", "raspberry", 0.05)], 
    columns = ["color", "fruit", "price"])
fruit_info2

    color      fruit  price
0     red      apple   1.00
1  orange     orange   0.75
2  yellow     banana   0.35
3    pink  raspberry   0.05

You can obtain the dimensions of a DataFrame by using the shape attribute `DataFrame.shape`.

In [5]:
fruit_info.shape

(4, 3)

You can also convert the entire DataFrame into a two-dimensional NumPy array.

In [6]:
fruit_info.values

array([['apple', 'red', 1.0],
       ['orange', 'orange', 0.75],
       ['banana', 'yellow', 0.35],
       ['raspberry', 'pink', 0.05]], dtype=object)

### Selecting Rows and Columns in Pandas

There are two verbose operators in Python for selecting rows: `loc` and `iloc`. Let's review them briefly.

#### Approach 1: `loc`

The first of the two verbose operators is `loc`, which takes two arguments. The first is one or more row **labels**, the second is one or more column **labels** - both of which are displayed in bold to the left of each of the rows and above each of the columns respectively. These are not the same as positional indices, which are used for indexing Python lists or NumPy arrays!

The desired rows or columns can be provided individually, in slice notation, or as a list. Some examples are given below.

Note that **slicing in `loc` is inclusive** on the provided labels.

In [7]:
fruit_info

       fruit   color  price
0      apple     red   1.00
1     orange  orange   0.75
2     banana  yellow   0.35
3  raspberry    pink   0.05

In [8]:
#get rows 0 through 2 and columns fruit through price
fruit_info.loc[0:2, 'fruit':'price']

    fruit   color  price
0   apple     red   1.00
1  orange  orange   0.75
2  banana  yellow   0.35

In [9]:
# get rows 0 through 2 and columns fruit and price. 
# Note the difference in notation and result from the previous example.
fruit_info.loc[0:2, ['fruit', 'price']]

    fruit  price
0   apple   1.00
1  orange   0.75
2  banana   0.35

In [10]:
# get rows 0 and 2 and columns fruit and price. 
fruit_info.loc[[0, 2], ['fruit', 'price']]

    fruit  price
0   apple   1.00
2  banana   0.35

In [11]:
# get rows 0 and 2 and column fruit
fruit_info.loc[[0, 2], ['fruit']]

    fruit
0   apple
2  banana

Note that if we request a single column but don't enclose it in a list, the return type of the `loc` operator is a `Series` rather than a DataFrame.

In [12]:
# get rows 0 and 2 and column fruit, returning the result as a Series
fruit_info.loc[[0, 2], 'fruit']

0     apple
2    banana
Name: fruit, dtype: object

If we provide only one argument to `loc`, it uses the provided argument to select rows, and returns all columns.

In [13]:
fruit_info.loc[0:1]

    fruit   color  price
0   apple     red   1.00
1  orange  orange   0.75

Note that if you try to access columns without providing rows, `loc` will crash.

In [16]:
# uncomment, this code will crash
#fruit_info.loc[["fruit", "price"]]

# uncomment, this code works fine: 
fruit_info.loc[:, ["fruit", "price"]]

       fruit  price
0      apple   1.00
1     orange   0.75
2     banana   0.35
3  raspberry   0.05

#### Approach 2: `iloc`

`iloc` is very similar to `loc` except that its arguments are row numbers and column numbers, rather than row labels and labels names. A usueful mnemonic is that the `i` stands for "integer". This is quite similar to indexing into a Python list or NumPy array.

In addition, **slicing for `iloc` is exclusive** on the provided integer indices. Some examples are given below:

In [18]:
fruit_info

       fruit   color  price
0      apple     red   1.00
1     orange  orange   0.75
2     banana  yellow   0.35
3  raspberry    pink   0.05

In [19]:
# get rows 0 through 3 (exclusive) and columns 0 through 2 (exclusive)
fruit_info.iloc[0:3, 0:3]

    fruit   color  price
0   apple     red   1.00
1  orange  orange   0.75
2  banana  yellow   0.35

In [21]:
# get rows 0 through 3 (exclusive) and columns 0 and 2.
fruit_info.iloc[0:3, [0, 2]]

    fruit  price
0   apple   1.00
1  orange   0.75
2  banana   0.35

In [22]:
# get rows 0 and 2 and columns 0 and 2.
fruit_info.iloc[[0, 2], [0, 2]]

    fruit  price
0   apple   1.00
2  banana   0.35

In [23]:
#get rows 0 and 2 and column fruit
fruit_info.iloc[[0, 2], [0]]

    fruit
0   apple
2  banana

In [24]:
# get rows 0 and 2 and column fruit
fruit_info.iloc[[0, 2], 0]

0     apple
2    banana
Name: fruit, dtype: object

Note that in these loc and iloc examples above, the row **label** and row **number** were always the same.

Let's see an example where they are different. If we sort our fruits by color, we get:

In [25]:
fruit_info_sorted = fruit_info.sort_values("price")
fruit_info_sorted

       fruit   color  price
3  raspberry    pink   0.05
2     banana  yellow   0.35
1     orange  orange   0.75
0      apple     red   1.00

Observe that the row number 0 now has index 3, row number 1 now has index 2, etc. These indices are the arbitrary numerical index generated when we created the DataFrame. For example, banana was originally in row 2, and so it has row label 2.

If we request the rows in positions 0 and 2 using `iloc`, we're indexing using the row NUMBERS, not labels.

In [26]:
fruit_info_sorted.iloc[[0, 2], 0]

3    raspberry
1       orange
Name: fruit, dtype: object

Lastly, similar to with `loc`, the second argument to `iloc` is optional. That is, if you provide only one argument to `iloc`, it treats the argument you provide as a set of desired row numbers, not column numbers.

In [29]:
fruit_info.iloc[[0, 2]]

    fruit   color  price
0   apple     red   1.00
2  banana  yellow   0.35

#### Approach 3: `[]` Notation for Accessing Rows and Columns

Pandas also supports a bare `[]` operator. It's similar to `loc` in that it lets you access rows and columns by their name.

However, unlike `loc`, which takes row names and also optionally column names, `[]` is more flexible. If you provde it only row names, it'll give you rows (same behavior as `loc`), and if you provide it with only column names, it'll give you columns (whereas `loc` will crash).

Some examples:

In [30]:
fruit_info[0:2]

    fruit   color  price
0   apple     red   1.00
1  orange  orange   0.75

In [33]:
# Here we're providing a list of fruits as single argument to []
fruit_info[["fruit", "color", "price"]]

       fruit   color  price
0      apple     red   1.00
1     orange  orange   0.75
2     banana  yellow   0.35
3  raspberry    pink   0.05

Note that slicing notation is not supported for columns if you use `[]` notation. Use `loc` instead.

In [35]:
# uncomment and this code crashes
#fruit_info["fruit":"price"]

# uncomment and this works fine
fruit_info.loc[:, "fruit":"price"]

       fruit   color  price
0      apple     red   1.00
1     orange  orange   0.75
2     banana  yellow   0.35
3  raspberry    pink   0.05

`[]` and `loc` are quite similar. For example, the following two pieces of code are functionally equivalent for selecting the fruit and price columns.

1. `fruit_info[["fruit", "price"]]` 
2. `fruit_info.loc[:, ["fruit", "price"]]`.

Because it yields more concise code, you'll find that our code and your code both tend to feature `[]`. However, there are some subtle pitfalls of using `[]`. If you're ever having performance issues, weird behavior, or you see a `SettingWithCopyWarning` in pandas, switch from `[]` to `loc` and this may help.

To avoid getting too bogged down in indexing syntax, we'll avoid a more thorough discussion of `[]` and `loc`. We may return to this at a later point in the course.

For more on `[]` vs `loc`, you may optionally try reading:
1. https://stackoverflow.com/questions/48409128/what-is-the-difference-between-using-loc-and-using-just-square-brackets-to-filte
2. https://stackoverflow.com/questions/38886080/python-pandas-series-why-use-loc/65875826#65875826
3. https://stackoverflow.com/questions/20625582/how-to-deal-with-settingwithcopywarning-in-pandas/53954986#53954986

Now that we've reviewed basic indexing, let's discuss how we can modify dataframes. We'll do this via a series of exercises.

### Question 1(a)

For a DataFrame `d`, you can add a column with `d['new column name'] = ...` and assign a list or array of values to the column. Add a column of integers containing 1, 2, 3, and 4 called `rank1` to the `fruit_info` table which expresses your personal preference about the taste ordering for each fruit (1 is tastiest; 4 is least tasty).

In [36]:
fruit_info

       fruit   color  price
0      apple     red   1.00
1     orange  orange   0.75
2     banana  yellow   0.35
3  raspberry    pink   0.05

In [37]:
fruit_info['rank1'] = [1,4,2,3]
fruit_info

       fruit   color  price  rank1
0      apple     red   1.00      1
1     orange  orange   0.75      4
2     banana  yellow   0.35      2
3  raspberry    pink   0.05      3

In [38]:
grader.check("q1a")

q1a results:
    q1a - 1 result:
         Test case failed
        Trying:
            assert fruit_info["rank1"].dtype == 'int64'
        Expecting:
            True
        **********************************************************************
        Line 1, in q1a 0
        Failed example:
            assert fruit_info["rank1"].dtype == 'int64'
        Expected:
            True
        Got nothing

    q1a - 2 result:
         Test case passed

### Question 1(b)

You can also add a column to `d` with `d.loc[:, 'new column name'] = ...`. As above, the first parameter is for the rows and second is for columns. The `:` means change all rows and the `'new column name'` indicates the name of the column you are modifying (or in this case, adding). 

Add a column called `rank2` to the `fruit_info` table which contains the same values in the same order as the `rank1` column.

In [39]:
fruit_info

       fruit   color  price  rank1
0      apple     red   1.00      1
1     orange  orange   0.75      4
2     banana  yellow   0.35      2
3  raspberry    pink   0.05      3

In [40]:
fruit_info.loc[:,'rank2'] = fruit_info['rank1']
fruit_info

       fruit   color  price  rank1  rank2
0      apple     red   1.00      1      1
1     orange  orange   0.75      4      4
2     banana  yellow   0.35      2      2
3  raspberry    pink   0.05      3      3

In [41]:
grader.check("q1b")

q1b results: All test cases passed!

### Question 2

Use the `.drop()` method to [drop](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) both the `rank1` and `rank2` columns you created. Make sure to use the `axis` parameter correctly. Note that `drop` does not change a table, but instead returns a new table with fewer columns or rows unless you set the optional `inplace` parameter.

*Hint*: Look through the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) to see how you can drop multiple columns of a Pandas DataFrame at once using a list of column names.

In [50]:
fruit_info#.drop(labels='rank1', axis=1)

       fruit   color  price  rank1  rank2
0      apple     red   1.00      1      1
1     orange  orange   0.75      4      4
2     banana  yellow   0.35      2      2
3  raspberry    pink   0.05      3      3

In [51]:
fruit_info_original = fruit_info.drop(labels=['rank1', 'rank2'], axis=1)
fruit_info_original

       fruit   color  price
0      apple     red   1.00
1     orange  orange   0.75
2     banana  yellow   0.35
3  raspberry    pink   0.05

In [52]:
grader.check("q2")

q2 results:
    q2 - 1 result:
         Test case failed
        Trying:
            assert fruit_info_original.shape == (4,3)
        Expecting:
            True
        **********************************************************************
        Line 1, in q2 0
        Failed example:
            assert fruit_info_original.shape == (4,3)
        Expected:
            True
        Got nothing

    q2 - 2 result:
         Test case failed
        Trying:
            assert fruit_info.shape == (4,5)
        Expecting:
            (4, 5)
        **********************************************************************
        Line 1, in q2 1
        Failed example:
            assert fruit_info.shape == (4,5)
        Expected:
            (4, 5)
        Got nothing

    q2 - 3 result:
         Test case passed

### Question 3

Use the `.rename()` method to [rename](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html) the columns of `fruit_info_original` so they begin with capital letters. Set this new DataFrame to `fruit_info_caps`. For an example of how to use rename, see the linked documentation above.

In [54]:
fruit_info_original

       fruit   color  price
0      apple     red   1.00
1     orange  orange   0.75
2     banana  yellow   0.35
3  raspberry    pink   0.05

In [55]:
fruit_info_caps = fruit_info_original.rename(columns={"fruit":"Fruit", "color":"Color", "price":"Price"})
fruit_info_caps

       Fruit   Color  Price
0      apple     red   1.00
1     orange  orange   0.75
2     banana  yellow   0.35
3  raspberry    pink   0.05

In [56]:
grader.check("q3")

q3 results: All test cases passed!

---


## Switching Gears:  Deep Diving Into Numpy 


### NumPy module:

  (short for "Numeric Python") is an open source Python module for scientific computing. NumPy supports large, multidimensional arrays and matrices. It also supports a large collection of mathematical functions not found in Python's standard math library.

It's custom in data science to import Numpy  with the alias $\texttt{np}$.  We can then ***access any mathematical function in the Numpy library by prepending function names by $\texttt{np}$***

For a more in-depth description of methods and attributes built into Numpy see here:  https://numpy.org/doc/stable/user/quickstart.html   
and  here:  https://numpy.org/doc/stable/reference/routines.math.html



### Mathematical Functions

Numpy includes all of the functions and mathematical constants in Python's standard math library, like logarithms, exponentiation, and even $\pi$.

In [57]:
print(np.log(np.exp(1)))
print(np.log2(16))
print(np.log10(1000))
print(np.pi)

1.0
4.0
3.0
3.141592653589793

The nice thing about Numpy's mathematical functions is that they can be applied to arrays as well as scalars.  For instance

In [58]:
u = np.array([10, 100, 1000, 10000])

np.log10(u)

array([1., 2., 3., 4.])

### Question 4

Use numpy built-in functions to find the square root of 17: </span>

In [59]:
#Exercise 4 
np.sqrt(17)

4.123105625617661

In [61]:
# if you don't like how cumbersome it is to use np as the prefix, there is a solution!
from numpy import pi

print(pi)

#Or, to practice printing this with specific formatting:

"Floating point pi = {0:.3f}, with {1:d} digit precision".format(pi, 3)
#Here we specify 3 digits of precision and f is used to represent floating point number
#d in {1:d} represents integer value.
#See this site for many ways to format your output: https://thepythonguru.com/python-string-formatting/

3.141592653589793

'Floating point pi = 3.142, with 3 digit precision'

## The Numpy ndarray
The main workhorse of Numpy is its  multidimensional array  class called the   . 

A numpy array is a grid of values that belong to a similar data type.

The numpy array values are indexed by a tuple of nonnegative integers.

This allows us to build and work with one dimensional, two dimensional, or even   -dimensional arrays of numbers.

We can build a  one dimensional  ndarray by passing a Python list to the  .()  function.

See here for a full list of the array attributes and methods:  https://docs.scipy.org/doc/numpy-1.6.0/reference/generated/numpy.ndarray.html

### Creating Arrays

You can build arrays from python lists.

In [62]:
np.array([[1.,2.], [3.,4.]])

array([[1., 2.],
       [3., 4.]])

In [63]:
np.array([x for x in range(5)])

array([0, 1, 2, 3, 4])

Array's don't have to contain numbers:

In [64]:
np.array([["A", "matrix"], ["of", "words."]])

array([['A', 'matrix'],
       ['of', 'words.']], dtype='<U6')

## Making Arrays of Zeros

In [65]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

## Making Arrays of Ones

In [66]:
np.ones([3,2])

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [67]:
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

## Making Arrays from ranges:

The `np.arange(start, stop, step)` function is like the python `range` function.

In [70]:
np.arange(0, 10, 2)

array([0, 2, 4, 6, 8])

You can make a range of other types as well:

In [71]:
np.arange(np.datetime64('2016-12-31'), np.datetime64('2017-02-01'))

array(['2016-12-31', '2017-01-01', '2017-01-02', '2017-01-03',
       '2017-01-04', '2017-01-05', '2017-01-06', '2017-01-07',
       '2017-01-08', '2017-01-09', '2017-01-10', '2017-01-11',
       '2017-01-12', '2017-01-13', '2017-01-14', '2017-01-15',
       '2017-01-16', '2017-01-17', '2017-01-18', '2017-01-19',
       '2017-01-20', '2017-01-21', '2017-01-22', '2017-01-23',
       '2017-01-24', '2017-01-25', '2017-01-26', '2017-01-27',
       '2017-01-28', '2017-01-29', '2017-01-30', '2017-01-31'],
      dtype='datetime64[D]')

## Interpolating numbers 

The `linspace(start,end,num)` function generates `num` numbers evenly spaced between the `start` and `end`.

In [75]:
np.linspace(0, 5, 11)

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. ])

Learn more about working with [datetime objects](https://docs.scipy.org/doc/numpy/reference/arrays.datetime.html#).

## A random array 

You can also generate arrays of random numbers (we will cover this in greater detail later).


- `rand` generates random numbers from a Uniform(low=0, high=1) distribution.
- `permutation` generates a random permutation of a sequence of numbers.

In [76]:
np.random.rand(3,2)

array([[0.60462046, 0.35675056],
       [0.78270843, 0.44037054],
       [0.91380275, 0.90285857]])

In [77]:
np.random.permutation(range(0,10))

array([6, 1, 7, 9, 3, 4, 0, 8, 5, 2])

In [79]:
# generate random integers
np.random.randint(0,20,5) # low, high, size

array([ 5, 11, 16,  0,  8])


# Properties of Arrays

## Shape

Arrays have a shape which corresponds to the number of rows, columns, fibers, ...

In [80]:
A = np.array([[1., 2., 3.], [4., 5., 6.]])
print(A)
A.shape

[[1. 2. 3.]
 [4. 5. 6.]]

(2, 3)

## Type

Arrays have a type which corresponds to the type of data they contain

In [81]:
A.dtype

dtype('float64')

In [82]:
np.arange(1,5).dtype

dtype('int64')

In [83]:
(np.array([True, False])).dtype

dtype('bool')

In [84]:
np.array(["Hello", "Worlddddd!"]).dtype

dtype('<U10')

What does `<U6` mean?

- `<` Little Endian
- `U` Unicode
- `6` length of longest string

#### and we can change the type of an array:

In [87]:
np.array([1,2,3]).astype(float)#.dtype

array([1., 2., 3.])

In [88]:
np.array(["1","2","3"]).astype(int)

array([1, 2, 3])

Learn more about numpy [array types](https://docs.scipy.org/doc/numpy/user/basics.types.html)

In [89]:
# 'y' is a list in Python
y = [1,2,3,4,5]
print(y)

#We can check the type of what we've just created with Python's type function.
type(y)

[1, 2, 3, 4, 5]

list

In [90]:
#Now, the list is an array
x = np.array(y, dtype=float)
print(x)

type(x)

[1. 2. 3. 4. 5.]

numpy.ndarray

In [91]:
# The attribute .dtype will let you see the datatype of the elements: 

print(x.dtype)

float64

### Question 5
    
Write code to create a vector of zeros of size 10 and update the sixth entry to 11

In [93]:
ten_zeros = np.zeros(10)
ten_zeros[5] = 11
print(ten_zeros)

[ 0.  0.  0.  0.  0. 11.  0.  0.  0.  0.]

In [94]:
ten_zeros.dtype

dtype('float64')

In [95]:
#We are not limited to 1-dimensional arrays - we can also create  n-Dimensional arrays!
# 1-dimensional array
z=np.array([14, 15, 22.5, 100])
# 2-dimensional array
w=np.array([[1, 2],
       [3, 4],
       [5, 6]])

<img src="images/NumpyArrays.png"/>

In [96]:
#You can find the dimension(s) of your array using the shape attribute:

print(z.shape)

print(w.shape)

(4,)
(3, 2)

The nice thing about using Numpy arrays to store numerical values is that we can perform mathematical operations on them.  For instance, if we want to multiply every value in $\texttt{x}$ by $5$ and store the result in a new array $\texttt{y}$ we can do so as follows:

In [98]:
x

array([1., 2., 3., 4., 5.])

In [97]:
y = 5*x
print(y)

[ 5. 10. 15. 20. 25.]

Contrast this to what happens if we tried the exact same operations on a list instead:

In [99]:
w = [1, 2, 3, 4, 5]
# w is a Python list

q = 5 * w
# q is a list of lists
print('w = ', w)
print('5 * w = ', q)

w =  [1, 2, 3, 4, 5]
5 * w =  [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

If we want to add two ndarray's of equal length together we can do that too:

In [101]:
x

array([1., 2., 3., 4., 5.])

In [102]:
y

array([ 5., 10., 15., 20., 25.])

In [100]:
z = x + y 
print(z)

[ 6. 12. 18. 24. 30.]

If we want to create a two dimensional array we simply pass a list of lists to the $\texttt{np.array()}$ function.  The lists in the list of lists then become the rows of the two dimensional array.

In [ ]:
A = np.array([[1,2,3,4,5], [6,7,8,9,10]], dtype=float)
print(A)

We can access elements of Numpy arrays in a ways similar to the way we access elements in Python lists. For instance, if we want to get the first $3$ elements of the array $\texttt{y}$, we can do so as follows:

In [104]:
print(y)

[ 5. 10. 15. 20. 25.]

In [103]:
y[0:4]

array([ 5., 10., 15., 20.])

Just like with Python lists, if we're indexing from the start of the array there is no need to include the $0$ in the index range.  We can simply do

In [105]:
y[:3]

array([ 5., 10., 15.])

Similarly, if we want to access everything from the third entry to the end of the array, we can do

In [106]:
y[2:]

array([15., 20., 25.])

Indexing in multidimensional arrays is similar.  First, let's build a two dimensional array with our arrays $\texttt{x}, \texttt{y},$ and $\texttt{z}$ as the rows.

In [107]:
B = np.array([x,y,z])
print(B)

[[ 1.  2.  3.  4.  5.]
 [ 5. 10. 15. 20. 25.]
 [ 6. 12. 18. 24. 30.]]

We can slice up the two dimensional array by doing slices along rows and columns.  Let's suppose we wanted to carve out the second row of $\texttt{B}$.

In [108]:
B[1,:]

array([ 5., 10., 15., 20., 25.])

Here, the stuff before the comma refers to rows of the array, and the stuff after the comma refers to columns of the array.  In the previous command we've indicated that we want the row with index $1$, and the colon indicated that we want _all_ of the columns. Similarly, if we want all of the fourth column, we could do

In [109]:
B[:,3]

array([ 4., 20., 24.])

If you've played with slicing lists of Python lists then you'll note that the main difference between slicing two dimensional Numpy arrays is that we only need one set of brackets, instead of two. Otherwise it's pretty similar.   

If we want to carve out certain rows and certain columns, we can do that by grabbing ranges of indices for both the rows and the columns.  For instance, if we want the part of $\texttt{B}$ in the second and third rows and the second through the fourth columns we can do

In [110]:
B[1:3, 1:4]

array([[10., 15., 20.],
       [12., 18., 24.]])

We can also apply mathematical functions to the two dimensional array.  For instance, if we want to sum all of the entries in $\texttt{B}$ we can do

In [111]:
np.sum(B)

180.0

In [113]:
B

array([[ 1.,  2.,  3.,  4.,  5.],
       [ 5., 10., 15., 20., 25.],
       [ 6., 12., 18., 24., 30.]])

If instead we just want to sum along the rows or columns of the array we can add the $\texttt{axis}$ parameter.

In [112]:
np.sum(B, axis=0)

array([12., 24., 36., 48., 60.])

Notice that choosing $\texttt{axis=0}$ caused us to sum along the columns of $\texttt{B}$.  If instead we used $\texttt{axis=1}$ we would sum along the rows

In [114]:
np.sum(B, axis=1)

array([15., 75., 90.])

We can also index into an array by conditions.  For instance, remember the vector $\texttt{z}$

In [115]:
print(z)

[ 6. 12. 18. 24. 30.]

Let's suppose I want to grab all of the entries in $\texttt{z}$ that are bigger than $15$.  The condition $\texttt{z > 15}$ returns a boolean array indicating whether each entry in $\texttt{z}$ satisfies the given condition

In [116]:
z > 15

array([False, False,  True,  True,  True])

Now, if I want to actually extract those entries of $\texttt{z}$ that satisfy the condition we can index $\texttt{z}$ using this boolean array

In [117]:
z[z>15]

array([18., 24., 30.])

### Question 6
Use numpy built-in functions to create an array with elements [2, 4, 8] and then output an array with values $[e^2, e^4, e^8]$

In [120]:
pow2 = np.array([2, 4, 8])
eeees = np.array([np.e, np.e, np.e])

In [121]:
eeees**pow2

array([   7.3890561 ,   54.59815003, 2980.95798704])

### Accessing elements in Arrays

We can access elements of Numpy arrays in a way similar to the way we access elements in Python lists. For instance, if we want to get the first $3$ elements of the array $\texttt{y}$, we can do so as follows:

In [ ]:
print(y)
# recall y is an nparray

print(y[0:3])

Just like with Python lists, if we're indexing from the start of the array there is no need to include the $0$ in the index range.  We can simply do

In [ ]:
y[:3]

Similarly, if we want to access everything from the third entry (indexed with a 2) to the end of the array, we can do

In [ ]:
# Recall y = [5. 10. 15. 20. 25.]
y[2:]

We can also index into an array by conditions.  For instance, remember the vector $\texttt{z}$

In [ ]:
print(z)

Let's suppose I want to grab all of the entries in $\texttt{z}$ that are bigger than $15$.  The condition $\texttt{z > 15}$ returns a boolean array indicating whether each entry in $\texttt{z}$ satisfies the given condition

In [ ]:
z > 15
#type(z)

Now, if I want to actually extract those entries of $\texttt{z}$ that satisfy the condition we can index $\texttt{z}$ using this boolean array

In [ ]:
print(z)
z[z>15]

### Question 7
Write code to extract the entries of z that are divisible by 4:

In [126]:
z

array([ 6., 12., 18., 24., 30.])

In [127]:
#Question 7

z[z%4==0]

array([12., 24.])

# Boolean Indexing

We can apply boolean operations to arrays.  This is essential when trying to select and modify individual elements.


**Question:** *Given the following definition of A:*

```python
[[   1.    2.    3.]
 [   4.    5. -999.]
 [   7.    8.    9.]
 [  10. -999. -999.]]
```

*what will the following output:*
```python
A > 3
```


- **Option A:**

```python
False
```

- **Option B:**

```python
array([[False, False, False],
       [ True,  True, False],
       [ True,  True,  True],
       [ True, False, False]], dtype=bool)
```

In [131]:
A = np.array([[  1.,   2.,   3.],
       [  4.,   5.,   -999.0],
       [  7.,   8.,   9.],
       [ 10.,  -999.0,  -999.0]])

A > 3.

array([[False, False, False],
       [ True,  True, False],
       [ True,  True,  True],
       [ True, False, False]])

**Question:** *What will the following output*
```python
A = np.array([[   1.,    2.,    3.],
       [   4.,    5., -999.],
       [   7.,    8.,    9.],
       [  10., -999., -999.]])

A[A > 3]
```


- **Option A:**

```python
array([ 4,  7, 10,  5,  8, 11,  6,  9, 12])
```

- **Option B:**

```python
array([  4.,   5.,   7.,   8.,   9.,  10.])
```


- **Option C:**

```python
array([[  nan,   nan,  nan],
       [  4.,    5.,   nan],
       [  7.,    8.,   9.],
       [ 10.,    nan,  nan]])
```

In [132]:
A = np.array([[  1.,   2.,   3.],
       [  4.,   5.,   -999.0],
       [  7.,   8.,   9.],
       [ 10.,  -999.0,  -999.0]])

A[A > 3]

array([ 4.,  5.,  7.,  8.,  9., 10.])

**Question:** *Replace the -999.0 entries with `np.nan`.*

```python
array([[   1.,    2.,    3.],
       [   4.,    5., -999.],
       [   7.,    8.,    9.],
       [  10., -999., -999.]])
```

**Solution**

In [133]:
A = np.array([[  1.,   2.,   3.],
       [  4.,   5.,   -999.0],
       [  7.,   8.,   9.],
       [ 10.,  -999.0,  -999.0]])

* Construct a boolean array that indicates where the value is 999.0:

In [134]:
ind = (A == -999.0)
print(ind)

[[False False False]
 [False False  True]
 [False False False]
 [False  True  True]]

* Assign `np.nan` to all the `True` entires:

In [135]:
A[ind] = np.nan
A

array([[ 1.,  2.,  3.],
       [ 4.,  5., nan],
       [ 7.,  8.,  9.],
       [10., nan, nan]])

**Question:** *What might -999.0 represent?  Why might I want to replace the -999.0 with a `np.nan`?  *

**Solution:** It could be safer in calculations.  For example when computing the mean of the transformed A we get:

In [136]:
print(A)
np.mean(A)

[[ 1.  2.  3.]
 [ 4.  5. nan]
 [ 7.  8.  9.]
 [10. nan nan]]

nan

Perhaps instead we want:

In [137]:
np.nanmean(A)

5.444444444444445

In [138]:
help(np.nanmean)

Help on function nanmean in module numpy:

nanmean(a, axis=None, dtype=None, out=None, keepdims=<no value>)
    Compute the arithmetic mean along the specified axis, ignoring NaNs.

    Returns the average of the array elements.  The average is taken over
    the flattened array by default, otherwise over the specified axis.
    `float64` intermediate and return values are used for integer inputs.

    For all-NaN slices, NaN is returned and a `RuntimeWarning` is raised.

    .. versionadded:: 1.8.0

    Parameters
    ----------
    a : array_like
        Array containing numbers whose mean is desired. If `a` is not an
        array, a conversion is attempted.
    axis : {int, tuple of int, None}, optional
        Axis or axes along which the means are computed. The default is to compute
        the mean of the flattened array.
    dtype : data-type, optional
        Type to use in computing the mean.  For integer inputs, the default
        is `float64`; for inexact inputs, it is the same as the input
        dtype.
    out : ndarray, optional
        Alternate output array in which to place the result.  The default
        is ``None``; if provided, it must have the same shape as the
        expected output, but the type will be cast if necessary. See
        :ref:`ufuncs-output-type` for more details.
    keepdims : bool, optional
        If this is set to True, the axes which are reduced are left
        in the result as dimensions with size one. With this option,
        the result will broadcast correctly against the original `a`.

        If the value is anything but the default, then
        `keepdims` will be passed through to the `mean` or `sum` methods
        of sub-classes of `ndarray`.  If the sub-classes methods
        does not implement `keepdims` any exceptions will be raised.

    Returns
    -------
    m : ndarray, see dtype parameter above
        If `out=None`, returns a new array containing the mean values,
        otherwise a reference to the output array is returned. Nan is
        returned for slices that contain only NaNs.

    See Also
    --------
    average : Weighted average
    mean : Arithmetic mean taken while not ignoring NaNs
    var, nanvar

    Notes
    -----
    The arithmetic mean is the sum of the non-NaN elements along the axis
    divided by the number of non-NaN elements.

    Note that for floating-point input, the mean is computed using the same
    precision the input has.  Depending on the input data, this can cause
    the results to be inaccurate, especially for `float32`.  Specifying a
    higher-precision accumulator using the `dtype` keyword can alleviate
    this issue.

    Examples
    --------
    >>> a = np.array([[1, np.nan], [3, 4]])
    >>> np.nanmean(a)
    2.6666666666666665
    >>> np.nanmean(a, axis=0)
    array([2.,  4.])
    >>> np.nanmean(a, axis=1)
    array([1.,  3.5]) # may vary

### Question:
*What does the following expression compute:*

```python
starts_with_j = np.char.startswith(names, "J")
starts_with_j[is_staff].mean()
```

The mean of the sum of the favorite numbers of staff starting with J

In [144]:
starts_with_j = np.char.startswith(names, "J")
starts_with_j[is_staff].mean()

0.3333333333333333

### Question:
*What does it mean to take the mean of an array of booleans?*

The values True and False correspond to the integers 1 and 0 and are treated as such in mathematical expressions (e.g., mean(), sum(), as well as linear algebraic operations).

## Other Useful Operations

* [`choose()`](https://docs.scipy.org/doc/numpy-1.10.0/reference/generated/numpy.choose.html)
* [`where()`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.where.html)


# A Note on using Array operations

In [148]:
data = np.random.rand(1000000)

Consider the following two programs.  


### Program A
```python
s = 0
c = 0
for x in data:
    if x > 0.5:
        s += x
        c += 1
result = s/c
```

### Program B
```python
result = data[data > 0.5].mean()
```

1. What do they do?
1. Which one is faster?
1. Which one is clearer?

---

<br/><br/><br/><br/><br/>

### Solution

In [149]:
%%timeit
s = 0
for x in data:
    if x > 0.5:
        s += x
result = s/len(data)

130 ms  3.66 ms per loop (mean  std. dev. of 7 runs, 10 loops each)

In [150]:
%%timeit
result = data[data > 0.5].mean()

5.6 ms  59 s per loop (mean  std. dev. of 7 runs, 100 loops each)

## Important Points

Using the array abstractions instead of looping can often be:

1. Clearer
2. Faster

These are fundamental goals of abstraction.

<br/>
<br/>
<br/>




## Be Careful with Floating Point Numbers

What is the value of the following:
$$
A - \exp \left( \log \left( A \right) \right)
$$

<br/>
<br/>
<br/>

**Solution:**

In [152]:
A

array([[ 1.,  2.,  3.],
       [ 4.,  5.,  6.],
       [ 7.,  8.,  9.],
       [10., 11., 12.]])

In [151]:
A = np.arange(1., 13.).reshape(4,3)
print(A)

(A - np.exp(np.log(A)))

[[ 1.  2.  3.]
 [ 4.  5.  6.]
 [ 7.  8.  9.]
 [10. 11. 12.]]

array([[ 0.00000000e+00,  0.00000000e+00, -4.44089210e-16],
       [ 0.00000000e+00,  8.88178420e-16,  0.00000000e+00],
       [ 8.88178420e-16,  1.77635684e-15, -1.77635684e-15],
       [-1.77635684e-15, -1.77635684e-15,  0.00000000e+00]])

**What happened?!**

Floating point precision is not perfect and we are applying transcendental functions.

<br/><br/><br/><br/>
### A simpler examples

What is the value of the following expression:

```python
0.1 + 0.2 == 0.3
```

In [153]:
0.1 + 0.2 == 0.3

False

In [154]:
print(0.1 + 0.2)

0.30000000000000004

For these situations consider using `np.isclose`:

In [155]:
np.isclose(0.1 + 0.2, 0.3)

True

In [156]:
help(np.isclose)

Help on function isclose in module numpy:

isclose(a, b, rtol=1e-05, atol=1e-08, equal_nan=False)
    Returns a boolean array where two arrays are element-wise equal within a
    tolerance.

    The tolerance values are positive, typically very small numbers.  The
    relative difference (`rtol` * abs(`b`)) and the absolute difference
    `atol` are added together to compare against the absolute difference
    between `a` and `b`.

    .. warning:: The default `atol` is not appropriate for comparing numbers
                 that are much smaller than one (see Notes).

    Parameters
    ----------
    a, b : array_like
        Input arrays to compare.
    rtol : float
        The relative tolerance parameter (see Notes).
    atol : float
        The absolute tolerance parameter (see Notes).
    equal_nan : bool
        Whether to compare NaN's as equal.  If True, NaN's in `a` will be
        considered equal to NaN's in `b` in the output array.

    Returns
    -------
    y : array_like
        Returns a boolean array of where `a` and `b` are equal within the
        given tolerance. If both `a` and `b` are scalars, returns a single
        boolean value.

    See Also
    --------
    allclose
    math.isclose

    Notes
    -----
    .. versionadded:: 1.7.0

    For finite values, isclose uses the following equation to test whether
    two floating point values are equivalent.

     absolute(`a` - `b`) <= (`atol` + `rtol` * absolute(`b`))

    Unlike the built-in `math.isclose`, the above equation is not symmetric
    in `a` and `b` -- it assumes `b` is the reference value -- so that
    `isclose(a, b)` might be different from `isclose(b, a)`. Furthermore,
    the default value of atol is not zero, and is used to determine what
    small values should be considered close to zero. The default value is
    appropriate for expected values of order unity: if the expected values
    are significantly smaller than one, it can result in false positives.
    `atol` should be carefully selected for the use case at hand. A zero value
    for `atol` will result in `False` if either `a` or `b` is zero.

    `isclose` is not defined for non-numeric data types.

    Examples
    --------
    >>> np.isclose([1e10,1e-7], [1.00001e10,1e-8])
    array([ True, False])
    >>> np.isclose([1e10,1e-8], [1.00001e10,1e-9])
    array([ True, True])
    >>> np.isclose([1e10,1e-8], [1.0001e10,1e-9])
    array([False,  True])
    >>> np.isclose([1.0, np.nan], [1.0, np.nan])
    array([ True, False])
    >>> np.isclose([1.0, np.nan], [1.0, np.nan], equal_nan=True)
    array([ True, True])
    >>> np.isclose([1e-8, 1e-7], [0.0, 0.0])
    array([ True, False])
    >>> np.isclose([1e-100, 1e-7], [0.0, 0.0], atol=0.0)
    array([False, False])
    >>> np.isclose([1e-10, 1e-10], [1e-20, 0.0])
    array([ True,  True])
    >>> np.isclose([1e-10, 1e-10], [1e-20, 0.999999e-10], atol=0.0)
    array([False,  True])

<br/>
<br/>
<br/>
<br/>


## Aggregating along an axis

In [157]:
A

array([[ 1.,  2.,  3.],
       [ 4.,  5.,  6.],
       [ 7.,  8.,  9.],
       [10., 11., 12.]])

### Grouping by row:

In [158]:
A.sum(axis=0)

array([22., 26., 30.])

This is the same as:
```python
(nrow, ncols) = A.shape

s = np.zeros(ncols)

for i in range(nrows):
    s += A[i,:]

print(s)
```

### Grouping by col:

In [159]:
A.sum(axis=1)

array([ 6., 15., 24., 33.])

This is the same as:
```python
(nrows, ncols) = A.shape

s = np.zeros(nrows)

for i in range(ncols):
    s += A[:,i]

print(s)
```

## Other Functions to Checkout

* [`mean`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.mean.html) computes the mean 
* [`std`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.std.html) standard deviation
* [`var`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.var.html) variance

and [many more](https://docs.scipy.org/doc/numpy/reference/ufuncs.html#math-operations)

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False)