# Lecture 1 – Appendix Examples


[Acknowledgments Page](https://ds100.org/fa23/acks/)

A high-level overview of the [`pandas`](https://pandas.pydata.org) library to accompany Lecture 1

In [1]:
# `pd` is the conventional alias for Pandas, as `np` is for NumPy
import pandas as pd

## Series, DataFrames, and Indices

Series, DataFrames, and Indices are fundamental `pandas` data structures for storing tabular data and processing the data using vectorized operations.

### Series

A `Series` is a 1-D labeled array of data. We can think of it as columnar data. 

#### Creating a new `Series` object
Below, we create a `Series` object and will look into its two components: 1) values and 2) index.

In [ ]:
s = pd.Series(["welcome", "to", "data 100"])

s

In [ ]:
s.values

In [ ]:
s.index

In the example above, `pandas` automatically generated an `Index` of integer labels. We can also create a `Series` object by providing a custom `Index`.

In [ ]:
s = pd.Series([-1, 10, 2], index = ["a", "b", "c"])
s

In [ ]:
s.values

In [ ]:
s.index

After it has been created, we can reassign the Index of a `Series` to a new Index.

In [ ]:
s.index = ["first", "second", "third"]
s

#### Selection in Series
We can select a single value or a set of values in a `Series` using:
- A single label
- A list of labels
- A filtering condition

In [ ]:
s = pd.Series([4, -2, 0, 6], index = ["a", "b", "c", "d"])
s

**Selection using one or more label(s)**

In [ ]:
# Selection using a single label
# Notice how the return value is a single array element
s["a"]

In [ ]:
# Selection using a list of labels
# Notice how the return value is another Series
s[["a", "c"]]

**Selection using a filter condition**

In [ ]:
# Filter condition: select all elements greater than 0
s>0

In [ ]:
# Use the Boolean filter to select data from the original Series
s[s>0]

### DataFrame

A `DataFrame` is a 2-D tabular data structure with both row and column labels. In this lecture, we will see how a `DataFrame` can be created from scratch or loaded from a file.

### Creating a new `DataFrame` object
We can also create a `DataFrame` in a variety of ways. Here, we cover the following:
1. From a CSV file
2. Using a list and column names
3. From a dictionary
4. From a `Series`


#### Creating a `DataFrame` from a CSV file
For loading data into a `DataFrame`, `pandas` has a number of very useful file reading tools. We'll be using `read_csv` today to load data from a CSV file into a `DataFrame` object.

In [5]:
elections = pd.read_csv("data/elections.csv")
elections

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
177,2016,Jill Stein,Green,1457226,loss,1.073699
178,2020,Joseph Biden,Democratic,81268924,win,51.311515
179,2020,Donald Trump,Republican,74216154,loss,46.858542
180,2020,Jo Jorgensen,Libertarian,1865724,loss,1.177979
181,2020,Howard Hawkins,Green,405035,loss,0.255731

In [6]:
elections.loc[3,"Candidate"]

'John Quincy Adams'

In [7]:
elections.loc[[1,4,5],["Party","Candidate","Result"]]

                   Party          Candidate Result
1  Democratic-Republican  John Quincy Adams    win
4             Democratic     Andrew Jackson    win
5    National Republican         Henry Clay   loss

In [8]:
elections.loc[[1,4,5],"Year":"Party"]

   Year          Candidate                  Party
1  1824  John Quincy Adams  Democratic-Republican
4  1832     Andrew Jackson             Democratic
5  1832         Henry Clay    National Republican

By passing a column to the `index_col` attribute, the `Index` can be defined at the initialization.

In [7]:
elections = pd.read_csv("data/elections.csv", index_col = "Year")
elections

              Candidate                  Party  Popular vote Result          %
Year
1824     Andrew Jackson  Democratic-Republican        151271   loss  57.210122
1824  John Quincy Adams  Democratic-Republican        113142    win  42.789878
1828     Andrew Jackson             Democratic        642806    win  56.203927
1828  John Quincy Adams    National Republican        500897   loss  43.796073
1832     Andrew Jackson             Democratic        702735    win  54.574789
...                 ...                    ...           ...    ...        ...
2016         Jill Stein                  Green       1457226   loss   1.073699
2020       Joseph Biden             Democratic      81268924    win  51.311515
2020       Donald Trump             Republican      74216154   loss  46.858542
2020       Jo Jorgensen            Libertarian       1865724   loss   1.177979
2020     Howard Hawkins                  Green        405035   loss   0.255731

[182 rows x 5 columns]

#### Creating a `DataFrame` using a list and column names

In [ ]:
# Creating a single-column DataFrame using a list
df_list_1 = pd.DataFrame([1, 2, 3], 
                         columns = ["Number"])
display(df_list_1)

In [ ]:
# Creating a multi-column DataFrame using a list of lists
df_list_2 = pd.DataFrame([[1, "one"], [2, "two"]], 
                         columns = ["Number", "Description"])
df_list_2

#### Creating a `DataFrame` from a dictionary

In [ ]:
# Creating a DataFrame from a dictionary of columns
df_dict_1 = pd.DataFrame({"Fruit":["Strawberry", "Orange"], 
                          "Price":[5.49, 3.99]})
df_dict_1

In [ ]:
# Creating a DataFrame from a list of row dictionaries
df_dict_2 = pd.DataFrame([{"Fruit":"Strawberry", "Price":5.49}, 
                          {"Fruit":"Orange", "Price":3.99}])
df_dict_2

#### Creating a `DataFrame` from a `Series`

In [ ]:
# In the examples below, we create a DataFrame from a Series

s_a = pd.Series(["a1", "a2", "a3"], index = ["r1", "r2", "r3"])
s_b = pd.Series(["b1", "b2", "b3"], index = ["r1", "r2", "r3"])

In [ ]:
# Passing Series objects for columns
df_ser = pd.DataFrame({"A-column":s_a, "B-column":s_b})
df_ser

In [ ]:
# Passing a Series to the DataFrame constructor to make a one-column dataframe
df_ser = pd.DataFrame(s_a)
df_ser

In [ ]:
# Using to_frame() to convert a Series to DataFrame
ser_to_df = s_a.to_frame()
ser_to_df

In [ ]:
# Creating a DataFrame from a CSV file and specifying the Index column
elections = pd.read_csv("data/elections.csv", index_col = "Candidate")
elections.head(5) # Using `.head` shows only the first 5 rows to save space

In [ ]:
elections.reset_index(inplace = True) # Need to reset the index to keep 'Candidate' as one of the DataFrane Columns
elections.set_index("Party", inplace=True) # This sets the index to the "Candidate" column
elections

### `DataFrame` attributes: `index`, `columns`, and `shape`

In [9]:
elections.index.values

array([1824, 1824, 1828, 1828, 1832, 1832, 1832, 1836, 1836, 1836, 1840,
       1840, 1844, 1844, 1848, 1848, 1848, 1852, 1852, 1852, 1856, 1856,
       1856, 1860, 1860, 1860, 1860, 1864, 1864, 1868, 1868, 1872, 1872,
       1876, 1876, 1880, 1880, 1880, 1884, 1884, 1884, 1884, 1888, 1888,
       1888, 1888, 1892, 1892, 1892, 1892, 1896, 1896, 1896, 1896, 1900,
       1900, 1900, 1904, 1904, 1904, 1904, 1904, 1908, 1908, 1908, 1908,
       1912, 1912, 1912, 1912, 1912, 1916, 1916, 1916, 1916, 1920, 1920,
       1920, 1920, 1920, 1924, 1924, 1924, 1928, 1928, 1928, 1932, 1932,
       1932, 1932, 1936, 1936, 1936, 1936, 1940, 1940, 1940, 1944, 1944,
       1948, 1948, 1948, 1948, 1948, 1948, 1952, 1952, 1952, 1956, 1956,
       1956, 1960, 1960, 1964, 1964, 1968, 1968, 1968, 1972, 1972, 1972,
       1976, 1976, 1976, 1976, 1976, 1976, 1980, 1980, 1980, 1980, 1980,
       1984, 1984, 1984, 1988, 1988, 1988, 1988, 1992, 1992, 1992, 1992,
       1992, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 2000, 2000, 2000,
       2000, 2000, 2004, 2004, 2004, 2004, 2004, 2004, 2008, 2008, 2008,
       2008, 2008, 2008, 2012, 2012, 2012, 2012, 2016, 2016, 2016, 2016,
       2016, 2016, 2020, 2020, 2020, 2020])

In [6]:
elections.columns

Index(['Year', 'Candidate', 'Party', 'Popular vote', 'Result', '%'], dtype='object')

The `Index` column can be set to the default list of integers by calling `reset_index()` on a `DataFrame`.

In [ ]:
elections.reset_index(inplace=True) # Revert the index back to its default numeric labeling
elections

In [ ]:
elections.shape

### Slicing in `DataFrame`s

We can use `.head` to return only a few rows of a dataframe.

In [ ]:
# Loading DataFrame again to keep the original ordering of columns
elections = pd.read_csv("data/elections.csv")

elections.head() # By default, calling .head with no argument will show the first 5 rows

In [ ]:
elections.head(3)

We can also use `.tail` to get the last so many rows.

#### Context-dependent Extraction using `[]`

In practice, the `[]` operator is often used instead to yield more concise code.

`[]` is a bit trickier to understand than some of the other methods shown below, but it achieves essentially the same functionality. The difference is that `[]` is *context-dependent*.

`[]` only takes one argument, which may be:
1. A slice of row integers.
2. A list of column labels.
3. A single column label.

If we provide a slice of row numbers, we get the numbered rows.

In [ ]:
elections[3:7]

If we provide a list of column names, we get the listed columns.

In [ ]:
elections[["Year", "Candidate", "Result"]]

And if we provide a single column name we get back just that column, stored as a `Series`.

In [ ]:
elections["Candidate"]

In [ ]:
elections.tail(5)

## Conditional Selection

In [ ]:
# Ask yourself: why is :9 is the correct slice to select the first 10 rows?
election_first_10_rows = elections[:9]

election_first_10_rows

In [ ]:
# First, use a logical condition to generate a boolean array
logical_operator = (election_first_10_rows["Result"] == "win")
logical_operator

In [ ]:
# Then, use this boolean array to filter the DataFrame
election_first_10_rows[logical_operator]

## Other Methods for Slicing:

#### Label-Based Extraction Using`loc`

Arguments to `.loc` can be:
1. An row label and a column label
2. A list
3. A slice (syntax is inclusive of the right-hand side of the slice).

`loc` selects items by row and column *label*.

In [4]:
# Selection by a row label and a column label
elections.loc[3, "Candidate"]

'John Quincy Adams'

In [ ]:
# Selection by a list
elections.loc[[87, 25, 179], ["Year", "Candidate", "Result"]]

In [ ]:
# Selection by a list and a slice of columns
elections.loc[[87, 25, 179], "Popular vote":"%"]

In [ ]:
# Extracting all rows using a colon
elections.loc[:, ["Year", "Candidate", "Result"]]

In [ ]:
# Extracting all columns using a colon
elections.loc[[87, 25, 179], :]

In [ ]:
# Selection by a list and a single-column label
elections.loc[[87, 25, 179], "Popular vote"]

In [ ]:
# Note that if we pass "Popular vote" in a list, the output will be a DataFrame
elections.loc[[87, 25, 179], ["Popular vote"]]

In [ ]:
# Selection by a row label and a column label
elections.loc[0, "Candidate"]

#### Integer-Based Extraction Using `iloc`

`iloc` selects items by row and column *integer* position.

Arguments to `.iloc` can be:
1. A list.
2. A slice (syntax is exclusive of the right hand side of the slice).
3. A single value.

In [ ]:
# Select the rows at positions 1, 2, and 3.
# Select the columns at positions 0, 1, and 2.
# Remember that Python indexing begins at position 0!
elections.iloc[[1, 2, 3], [0, 1, 2]]

In [ ]:
# Index-based extraction using a list of rows and a slice of column indices
elections.iloc[[1, 2, 3], 0:3]

In [ ]:
# Selecting all rows using a colon
elections.iloc[:, 0:3]

In [ ]:
elections.iloc[[1, 2, 3], 1]

In [ ]:
# Extracting the value at row 0 and the second column
elections.iloc[0,1]

### Poll Exercises

In [ ]:
example = pd.Series([4, 5, 6], index=["one", "two", "three"])
example[example > 4].values

In [ ]:
df = pd.DataFrame({"c1":[1, 2, 3, 4], "c2":[2, 4, 6, 8]})
df.columns

In [ ]:
weird = pd.DataFrame({
    1:["topdog","botdog"], 
    "1":["topcat","botcat"]
})
weird

In [ ]:
weird["1"]

In [ ]:
weird[1:]